body {
  font-family: 'Roboto', sans-serif;
  background-image: url('sikkim.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.calendar-section {
  background: transparent;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  width: 450px;
}

h1 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  background: #ffb347;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background 0.3s;
}

.calendar-header button:hover {
  background: #ff7e5f;
}

#monthYear {
  font-weight: bold;
  font-size: 1.2rem;
  color: #102d56;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.date-cell {
  background: transparent;
  border-radius: 8px;
  height: 60px;
  box-shadow: 0 10px 25px rgba(0,0,0.1,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

.date-cell:hover {
  transform: scale(1.1);
  background: #f0e4ce;
}

.date-cell.national { background: #fc6b0a; }
.date-cell.sikkim { background: #048409; }
.date-cell.cultural { background: #083bb4; }

.date-cell.today {
  border: 2px solid #ff7e5f;
}

.date-number { color: #c9c9c9;font-weight: bold; }

.festival-info {
  margin-top: 20px;
  background: transparent;
  padding: 15px;
  border-radius: 10px;
  color: #fff9f9;
  min-height: 60px;
  transition: all 0.3s;
}

.festival-info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 5px;
}
